<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title)%> | Learning App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <p>I'm in California dreaming about who we used to be.</p>
  </body>
</html>
